<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="讀書" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/books">
    <ion-nav-view name="tab-books"></ion-nav-view>
  </ion-tab>

  <ion-tab title="書云" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/cloud">
    <ion-nav-view name="tab-cloud"></ion-nav-view>
  </ion-tab>

  <ion-tab title="賬戶" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="社區" icon-off="ion-social-buffer-outline" icon-on="ion-social-buffer" href="#/tab/social-network">
    <ion-nav-view name="tab-social-network"></ion-nav-view>
  </ion-tab>

  


</ion-tabs>
